body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	line-height: 1.3;
	color: rgb(110,110,110);
	background-color: #fff;
	vertical-align: baseline;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	margin-top: 61px;
	text-align: center;
}

img {
	margin: 0 auto;
	padding: 25px 0 0 0;
	max-width: 98%;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 36px;
	color: white;
	max-width: 976px;
	padding-left: 104px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #386181;
	margin-bottom: -6px;
}

h5 {
	display: inline-block;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	color: rgb(110,110,110);
	font-size: 16px;
	font-weight: 400;
}

a {
	color: #3f3f3f;
	text-decoration: none;
	border-bottom: 1px dotted red;
}

a:hover {
	color: rgb(110,110,110);
}

/* Welcome */

.salutation {
	width: 33%;
	margin: 0 auto;
	padding: 0;
}

/* End Welcome */

.job {
	padding: 25px 103px;
	margin: 0 auto;
	display: inline-block;
	-webkit-transition: all .5s ease;
}

.job:hover {
	background-color: rgba(56,97,129,.15);
	box-shadow: 0 1px 1px rgba(255,255,255,.75);
}

.omega {
	padding-right: 0;
}

.jobs {
	width: 100%;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

.logo {
	width: 75px;
	height: auto;
	display: inline-block;
	margin-top: -5px;
}

ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 25px;
}

li {
	font-weight: 400;
}

.company {
	color: rgb(45,45,45);
	font-weight: 900;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

/* Portfolio */

header {
	width: 100%;
	padding: 15px 0 15px 15px;
	margin: 0 auto;
	margin-top: 0px;
	background: rgba(255,255,255,.15);
	border-bottom: 1px solid #acacac;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	z-index: 1000;
}

caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}

/* Image Box Style */
#mainwrapper .box {
	cursor: pointer;
	height: 552px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	width: 100%;
}

#mainwrapper .box .caption {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 552px;
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

#mainwrapper .box .fade-caption {
	opacity: 0;
	width: 100%;
	height: 552px;
	text-align: left;
	padding: 0;
}

#mainwrapper .box:hover .fade-caption {
	opacity: 1;
}

.project-title {
	width: 100%;
	text-align: center;
	font-size: 100px;
	font-family: 'Playfair Display', serif;
	margin-top: 114px;
	text-shadow: 0 0 10px rgba(0,0,0,.75);
}

.line {
	width: 40%;
	height: 1px;
	background: none;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding: 3px 0;
	margin: 15px auto;
	margin-bottom: 0;
}

#cbs {
	width: 100%;
	height: 552px;
	background: url(portfolio/img/cbs.jpg) no-repeat;
}

#hoi {
	width: 100%;
	height: 552px;
	background: url(portfolio/img/hoi.gif) no-repeat;
}

#equip {
	width: 100%;
	height: 552px;
	background: url(portfolio/img/equip.gif) no-repeat;
}

#cbs {
	width: 100%;
	height: 552px;
	background: url(portfolio/img/cbs.jpg) no-repeat;
}

