/*
 Width: 1080px
 # Columns : 16 
 Column width: 60px
 Gutter : 8px 

target / context = result

 */

.grid_1 { width: 5.5%; } /* 60px/1080px */
.grid_2 { width: 11.8%; } /* 128px/1080px */
.grid_3 { width: 18.1%; } /* 196px/1080px */
.grid_4 { width: 24.4%; } /* 264px/1080px */
.grid_5 { width: 30.7%; } /* 332px/1080px */
.grid_6 { width: 37%; } /* 400px/1080px */
.grid_7 { width: 43.3%; } /* 468px/1080px */
.grid_8 { width: 49.6%; } /* 536px/1080px */
.grid_9 { width: 55.9%; } /* 604px/1080px */
.grid_10 { width: 62.2%; } /* 672px/1080px */
.grid_11 { width: 68.5%; } /* 740px/1080px */
.grid_12 { width: 74.8%; } /* 808px/1080px */
.grid_13 { width: 81.1%; } /* 876px/1080px */
.grid_14 { width: 87.4%; } /* 944px/1080px */
.grid_15 { width: 93.7%; } /* 1012px/1080px */
.grid_16 { width: 100%; } /* 1080px/1080px */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
	{
	margin: 1% auto;
	display: inline-block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
	width: 100%; /*width: 1080px;*/
	max-width: 1080px;
	margin: auto;
	margin-top: 25px;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}



